# Node modules
node_modules/

# Private keys
*.pem

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp

# Editor folders
.vscode/
.idea/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
ehthumbs.db
Desktop.ini